<form id="formulario1" method="POST">
	<label for="nombre">Nombre:</label>
	<input type="text" name="nombre" placeholder="_ _ - _ _ _ _ _ - _ _" tabindex="3">
	<label for="anioNacimiento">Año nacimiento:</label>
	<select name="anioNacimiento" tabindex="-1">
		<option>2000</option>
		<option>2001</option>
		<option>2002</option>
	</select>
    <label for="lunes">Lunes</label>
    <input type="checkbox" id="lunes">
    <label for="martes">Martes</label>
    <input type="checkbox" id="martes">
    <label>¿Estas de acuerdo con los terminos y condiciones?</label>
    <label for="si">Si</label>
    <input type="radio" id="si">
    <label for="no">No</label>
    <input type="radio" id="no">
    <input type="submit" value="Crear Usuario" form="formulario1">
</form>